body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.privacyActFont{
    font-size: 12px;
}

div.options{
    display: flex;
    margin: auto 35px auto auto;
    justify-content: end;
}

div.options > div.buttonbg{
    margin: auto 3px;
    background-color: #c0c0c0;
}

div.options > div.buttonbg:first-of-type > button{
    width: 200px;
}

div.options > div.buttonbg > button{
    margin: 5px;
    width: 150px;
    background-color: #17d2e8;
    border: 4px outset #fff;
    font-weight: bold;
    font-size: 16px;
}

div.CRA_flag_and_privacyAct{
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    background-color: #ff0000;
}

div.CRA_flag_and_privacyAct > div.flag{
    display: flex;
    justify-content: space-between;
    background-color: #0000ff;
}

div.CRA_flag_and_privacyAct > div.flag > img{
    margin: 0 25px 0 0;
    width: 60px;
    height: 30px;
}

div.CRA_flag_and_privacyAct > div.flag > p{
    margin: 0;
    width: 150px;
}

div.CRA_flag_and_privacyAct > div.privacyAct{
    display: flex;
    margin: auto 35px auto auto;
    padding: 5px;
    flex-direction: column;
    width: 650px;
}

div.CRA_flag_and_privacyAct > div.privacyAct > p{
    margin: 0;
    padding: 0;
}

div.formTitle > h3{
    margin: 0;
    padding: 0;
}